html,
body,
* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  all: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

option {
  font: inherit;
  background-color: #fff;
  cursor: pointer;
}

.header {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  max-height: 5.3125rem;
  background-color: #fff;
}
@media (min-width: 47em) {
  .header {
    padding: 1.5rem 0;
    max-height: 6.0625rem;
  }
}
@media (min-width: 65em) {
  .header {
    padding: 1.875rem 0;
    max-height: 6.5rem;
  }
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__image {
  aspect-ratio: 65/40;
}
.logo__image img {
  display: block;
  height: 100%;
  width: 100%;
}
.logo__text {
  aspect-ratio: 120/40;
}
.logo__text img {
  display: block;
  height: 100%;
  width: 100%;
}

.menu__list {
  display: none;
}
@media (min-width: 65em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
}
@media (min-width: 65em) {
  .menu__item {
    padding: 0.375rem 0;
  }
  .menu__item a {
    position: relative;
    display: inline-block;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .menu__item a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 0.09375rem;
    background-color: #17c2b1;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }
}
@media (min-width: 65em) and (any-hover: hover), (min-width: 65em) and (pointer: fine) {
  .menu__item a:hover {
    color: #17c2b1;
  }
  .menu__item a:hover::after {
    width: 100%;
  }
}
.icon-menu {
  display: block;
  width: 26px;
  height: 20px;
  position: relative;
  z-index: 6;
  background: transparent;
  border: none;
  cursor: pointer;
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #262d2d;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.icon-menu span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}
.icon-menu--active {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.icon-menu--active span {
  opacity: 0;
}
.icon-menu--active::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.icon-menu--active::after {
  bottom: auto;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
@media (min-width: 65em) {
  .icon-menu {
    display: none;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  right: 0;
  top: 4.5rem;
  z-index: 10;
  height: 100svh;
}
@media (min-width: 47em) {
  .sidebar {
    top: 6.0625rem;
  }
}
@media (min-width: 65em) {
  .sidebar {
    top: 6.5rem;
  }
}
.sidebar__body {
  height: 100%;
  width: 100%;
  background-color: #17c2b1;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.sidebar__nav {
  height: 100%;
  width: 100%;
  padding: 1.875rem 1.25rem;
  overflow-y: auto;
}
.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  color: #fff;
}
.sidebar__item {
  padding: 0.625rem 0;
  font-size: 1.125rem;
}
.sidebar--open .sidebar__body {
  -webkit-animation: slideIn 0.3s ease forwards;
          animation: slideIn 0.3s ease forwards;
}
.sidebar--closing .sidebar__body {
  -webkit-animation: slideOut 0.3s ease forwards;
          animation: slideOut 0.3s ease forwards;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes slideOut {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.footer {
  background-color: #17c2b1;
}
.footer__wrapper {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}
@media (min-width: 47em) {
  .footer__wrapper {
    padding: 4rem 0;
    gap: 1.5625rem;
  }
}
@media (min-width: 61em) {
  .footer__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__logo {
  max-width: 12.5625rem;
}
.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  color: #fff;
}
@media (min-width: 47em) {
  .footer-menu__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.25rem;
  }
}
@media (min-width: 61em) {
  .footer-menu__list {
    gap: 2rem;
  }
}
.footer-menu__item {
  padding: 0.375rem 0;
}
.footer-menu__link {
  color: inherit;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover), (pointer: fine) {
  .footer-menu__link:hover {
    color: #262d2d;
  }
}

.hero {
  padding: 1.5rem 0 2.5rem 0;
  min-height: 100svh;
  height: auto;
  overflow: hidden;
}
@media (min-width: 65em) {
  .hero {
    padding: 3.5rem 0 6.5rem 0;
  }
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.3125rem;
}
@media (min-width: 65em) {
  .hero__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0rem;
  }
}
.content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 65em) {
  .content-block {
    position: relative;
    z-index: 2;
    -ms-flex-preferred-size: 44.375rem;
        flex-basis: 44.375rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    right: -56px;
    overflow: visible;
  }
}
.content-block__title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 47em) {
  .content-block__title {
    font-size: 3.25rem;
  }
}
@media (min-width: 65em) {
  .content-block__title {
    font-size: 4.053125rem;
    max-width: 33.625rem;
  }
}
.content-block__description {
  margin-bottom: 1rem;
  font-size: 1.0625rem;
  line-height: 1.6;
}
@media (min-width: 47em) {
  .content-block__description {
    font-size: 1.125rem;
  }
}
@media (min-width: 65em) {
  .content-block__description {
    max-width: 33.625rem;
    font-size: 1.328125rem;
  }
}

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}
@media (min-width: 65em) {
  .form-search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0.5rem;
  }
}
.form-search__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 100%;
}
@media (min-width: 47em) {
  .form-search__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0.5rem;
  }
}
.imgs-block {
  width: 100%;
  padding: 2.5rem 0 0 0;
}
@media (min-width: 47em) {
  .imgs-block {
    padding: 6.25rem 0 0 0;
  }
}
.imgs-block__wrapper {
  position: relative;
}

.img-block__main {
  position: relative;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  margin-right: -0.625rem;
  aspect-ratio: 580/587;
}
.img-block__bg {
  position: absolute;
  top: -1.875rem;
  right: -3.75rem;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
@media (min-width: 47em) {
  .img-block__bg {
    top: -4.375rem;
    right: -5.625rem;
  }
}
@media (min-width: 57em) {
  .img-block__bg {
    top: -4.6875rem;
  }
}
@media (min-width: 67em) {
  .img-block__bg {
    top: -2.5rem;
    right: -5.625rem;
  }
}

.select--hero {
  -ms-flex-preferred-size: 12.625rem;
      flex-basis: 12.625rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.5;
  color: #262d2d;
}

html,
body {
  height: 100%;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

main {
  margin-top: 5.3125rem;
}
@media (min-width: 47em) {
  main {
    margin-top: 6.0625rem;
  }
}
@media (min-width: 65em) {
  main {
    margin-top: 6.5rem;
  }
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 17.5rem;
      flex-basis: 17.5rem;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375rem 1rem 0.9375rem 1rem;
  border-radius: 4px;
  border: 1px solid #889e9d;
  background: #fff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1) inset;
  width: 100%;
  max-height: 3.5rem;
}
.input-wrapper:focus, .input-wrapper:focus-visible {
  outline: #17c2b1;
}
.input-wrapper:active {
  border-color: #17c2b1;
}
@media (any-hover: hover), (pointer: fine) {
  .input-wrapper:hover {
    border-color: #17c2b1;
  }
}
.input-wrapper .input::-webkit-input-placeholder {
  color: #889e9d;
}
.input-wrapper .input::-moz-placeholder {
  color: #889e9d;
}
.input-wrapper .input:-ms-input-placeholder {
  color: #889e9d;
}
.input-wrapper .input::-ms-input-placeholder {
  color: #889e9d;
}
.input-wrapper .input::placeholder {
  color: #889e9d;
}

.select {
  position: relative;
  width: 100%;
  cursor: pointer;
  width: 100%;
  max-height: 3.5rem;
}
.select__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.select .chevron-icon {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.select.open .chevron-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.select__options {
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #17c2b1;
  border-top: none;
  overflow-y: auto;
  max-height: 12.5rem;
}
.select__option {
  padding: 0.9375rem 0.625rem 0.9375rem 0.625rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
@media (any-hover: hover), (pointer: fine) {
  .select__option:hover {
    background-color: #17c2b1;
  }
}
.select__option.selected {
  background: #b2ede7;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 1rem 0.625rem 1rem;
  border-radius: 4px;
  border: 1px solid #17c2b1;
  font-weight: 700;
  width: 100%;
  max-height: 3.5rem;
}
.button--btn {
  background-color: #17c2b1;
  color: #fff;
  -ms-flex-preferred-size: 9.25rem;
      flex-basis: 9.25rem;
  -webkit-transition: border-color 0.3s, opacity 0.3s;
  transition: border-color 0.3s, opacity 0.3s;
}
@media (any-hover: hover), (pointer: fine) {
  .button--btn:hover {
    border-color: #262d2d;
    opacity: 0.9;
  }
}