@use '../_index' as *;

.header {
  padding: toRem(16) 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  max-height: toRem(85);

  @media (min-width: 47em) {
    padding: toRem(24) 0;
    max-height: toRem(97);
  }

  @media (min-width: 65em) {
    padding: toRem(30) 0;
    max-height: toRem(104);
  }

  // .header__container

  &__container {
  }

  // .header__wrapper

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(20);
  }

  // .header__logo

  &__logo {
    display: flex;
    gap: toRem(16);
    align-items: center;
  }

  // .header__menu

  &__menu {
  }

  // .header__navigation

  &__navigation {
  }
}
.logo {
  // .logo__image

  &__image {
    aspect-ratio: 65 / 40;

    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  // .logo__text

  &__text {
    aspect-ratio: 120 / 40;

    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
.menu {
  // .menu__list

  &__list {
    display: none;

    @media (min-width: 65em) {
      display: flex;
      align-items: center;
      gap: toRem(32);
    }
  }

  // .menu__item

  &__item {
    @media (min-width: 65em) {
      padding: toRem(6) 0;

      a {
        position: relative;
        display: inline-block;
        transition: color 0.3s;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0%;
          height: toRem(1.5);
          background-color: $colorBlue;
          transform: translateX(-50%);
          transition: width 0.3s ease;
        }

        @media (any-hover: hover), (pointer: fine) {
          &:hover {
            color: $colorBlue;

            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  // .menu__link

  &__link {
  }
}

// .icon-menu

.icon-menu {
  display: block;
  width: 26px;
  height: 20px;
  position: relative;
  z-index: 6;
  background: transparent;
  border: none;
  cursor: pointer;

  span,
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $colorDarkBlue;
    left: 0;
    transition: 0.3s ease;
  }

  span {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  // cross animations

  &--active {
    transition: all 0.1s;
    span {
      opacity: 0;
    }

    &::before {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      bottom: auto;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  @media (min-width: 65em) {
    display: none;
  }
}
