@use '../_index' as *;

.images-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: toRem(16);
  overflow: hidden;

  margin-bottom: toRem(32);

  @media (min-width: 75em) {
    max-width: toRem(776);
  }
  // .images-slider__main

  &__main {
    width: 100%;
    height: 100%;
  }

  // .images-slider__slider

  &__slider {
  }
}
.main-image {
  // .main-image__wrapper

  &__wrapper {
    display: flex;
    gap: toRem(1);
  }

  // .main-image__image-block

  &__image-block {
    overflow: hidden;
    min-width: toRem(400);
    min-height: toRem(240);
    aspect-ratio: 300 / 240;
    border-radius: 4px;

    @media (min-width: 47em) {
      min-width: toRem(740);
      min-height: toRem(363);
      aspect-ratio: 640/ 363;
    }

    @media (min-width: 65em) {
      min-width: toRem(776);
      aspect-ratio: 776 / 363;
    }
  }

  // .main-image__image

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slider-block {
  display: flex;
  align-items: center;
  gap: toRem(12);

  // .slider-block__block

  &__block {
    overflow: hidden;
    flex: 1 1 auto;
    max-width: 100%;
  }

  // .slider-block__wrapper

  &__wrapper {
    display: flex;
    align-items: center;
    gap: toRem(8);
    flex-wrap: nowrap;
  }

  // .slider-block__image

  &__image-wrapper {
    overflow: hidden;
    aspect-ratio: 90 / 56;
    max-width: toRem(90);
    border-radius: 4px;
    flex-shrink: 0;
    border: 2px solid transparent;
    transition: border-color 0.3s;

    @media (min-width: 75em) {
      aspect-ratio: 206 / 86;
      max-width: toRem(206);
    }
  }
  &__image-wrapper--border {
    border-color: $colorBlue;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
