@use '../_index' as *;

.offers {
  padding: toRem(24) 0 toRem(120) 0;
  // .offers__container

  &__container {
    display: flex;
    flex-direction: column;

    .button {
      align-self: center;
      min-width: toRem(152);
      justify-content: center;
    }
  }

  // .offers__title

  &__title {
    font-size: toRem(33.203);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: toRem(24);
  }

  // .offers__filters

  &__filters {
    display: flex;
    gap: toRem(16);

    .input-block {
      max-width: toRem(388);
    }

    .button {
      min-width: toRem(148);
    }
  }

  // .offers__line

  &__line {
    margin: toRem(32) 0;
    height: 1px;
    background-color: $colorDarkGrey;
  }

  // .offers__sorting

  &__sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(25);
  }

  // .offers__counter

  &__counter {
    font-size: toRem(21.25);
    line-height: 1.6;
  }

  // .offers__products

  &__products {
  }
}
.products {
  padding: toRem(24) 0 toRem(24) 0;

  // .products__wrapper

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(24);
  }
}

//.offers--select

.offers--select {
  max-width: fit-content;
  min-width: toRem(189);
}
