@use '../_index' as *;

.related-products {
  margin-bottom: toRem(44);
  background-color: $colorWhite;

  @media (min-width: 47em) {
    margin-bottom: toRem(71);
  }

  @media (min-width: 65em) {
    margin-bottom: toRem(100);
  }

  // .related-products__container

  &__container {
  }

  // .related-products__wrapper

  &__wrapper {
    max-width: toRem(1200);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  // .related-products__title

  &__title {
    font-size: toRem(21.248);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: toRem(24);

    @media (min-width: 65em) {
      margin-bottom: 0;
    }
  }

  // .related-products__items

  &__items {
    display: flex;
    gap: toRem(20);
    padding: toRem(24) toRem(20) toRem(20);

    @media (min-width: 47em) {
      gap: toRem(24);
      padding: toRem(24) toRem(20) toRem(20) toRem(20);
      margin: 0 toRem(20);
    }

    @media (min-width: 65em) {
    }
  }
}
