@use '../_index' as *;

.top-offers {
  padding: toRem(40) 0 toRem(49) 0;
  background-color: $colorLightBlue;
  overflow-x: auto;

  @media (min-width: 47em) {
    padding: toRem(64) 0 toRem(86) 0;
  }

  @media (min-width: 65em) {
    padding: toRem(120) 0 toRem(129) 0;
  }
  // .top-offers__container

  &__container {
  }

  // .top-offers__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: toRem(29);

    @media (min-width: 47em) {
      gap: toRem(32);
    }

    @media (min-width: 47em) {
      gap: toRem(42);
    }
  }

  // .top-offers__block

  &__block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: toRem(24);

    @media (min-width: 65em) {
      flex-direction: row;
      align-items: flex-end;
      gap: toRem(20);
    }
  }

  // .top-offers__arrow-block

  &__arrow-block {
    display: flex;
    gap: toRem(16);
    align-items: center;
  }

  // .top-offers__products

  &__products {
    width: 100%;
  }
}

.products-slider__wrapper {
  display: flex;
  gap: toRem(16);

  @media (min-width: 47em) {
    gap: toRem(24);
  }
}

.button--top-offers {
  align-self: center;
}
