@use '_index' as *;
@use 'components/_header';
@use 'components/_sidebar';
@use 'components/_footer';
@use 'components/_welcome-section';
@use 'components/_product-card';
@use 'components/_top-offers';
@use 'components/_reviews-section';
@use 'components/_about-us';
@use 'components/_subscribe';
@use 'components/_contact-us';
@use 'components/_offers';
@use 'components/_images-slider';
@use 'components/_product-block';
@use 'components/_related-products';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: toRem(17);
  font-weight: 400;
  line-height: 1.5;
  color: $colorDarkBlue;
}

html,
body {
  height: 100%;
}

/*Input styles for background and text color together*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition:
    background-color 5000s ease-in-out 0s,
    color 5000s ease-in-out 0s;
  background-color: inherit !important;
  -webkit-text-fill-color: inherit !important;
}

/*Hiding the autofill input for safari*/

input[type='text']::-webkit-contacts-auto-fill-button,
input[type='text']::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[class*='__container'] {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

main {
  margin-top: toRem(85);

  @media (min-width: 47em) {
    margin-top: toRem(97);
  }

  @media (min-width: 65em) {
    margin-top: toRem(104);
  }
}

// --- ui kit ----- //

.input-block {
  display: flex;
  flex-direction: column;
  gap: toRem(2);
  width: 100%;
}

.label {
  line-height: 1.58;
  margin-bottom: toRem(4);
}

.input-wrapper {
  display: flex;
  flex-basis: toRem(280);
  gap: toRem(8);
  align-items: center;
  padding: toRem(15) toRem(16) toRem(15) toRem(16);
  border-radius: 4px;
  border: 1px solid $colorDarkGrey;
  background: $colorWhite;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1) inset;
  width: 100%;
  max-height: toRem(56);

  &:focus,
  &:focus-visible {
    outline: $colorBlue;
  }

  &:active {
    border-color: $colorBlue;
  }

  @media (any-hover: hover), (pointer: fine) {
    &:hover {
      border-color: $colorBlue;
    }
  }

  .input {
    &::placeholder {
      color: $colorDarkGrey;
    }
  }
}

.input-error {
  font-size: toRem(14);
  margin-top: toRem(2);
  color: red;
}

.input--icon {
}

.textarea--input {
  min-height: toRem(235);
  padding: toRem(15) toRem(16) toRem(15) toRem(16);
  border-radius: 4px;
  border: 1px solid $colorDarkGrey;
  background: $colorWhite;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1) inset;

  &:focus,
  &:focus-visible {
    outline: $colorBlue;
  }

  &:active {
    border-color: $colorBlue;
  }

  @media (any-hover: hover), (pointer: fine) {
    &:hover {
      border-color: $colorBlue;
    }
  }

  .input {
    &::placeholder {
      color: $colorDarkGrey;
    }
  }
}

// --- input select --- ///

.select {
  position: relative;
  width: 100%;

  cursor: pointer;
  width: 100%;
  max-height: toRem(56);

  &__header {
    display: flex;
    justify-content: space-between;
    gap: toRem(25);
    align-items: center;
    width: 100%;
    transition: border-color 0.3s;
  }

  .chevron-icon {
    transition: transform 0.3s ease;
  }

  &.open .chevron-icon {
    transform: rotate(180deg);
  }

  &__options {
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    right: 0;
    background: $colorWhite;
    border: 1px solid $colorBlue;
    border-top: none;
    overflow-y: auto;
    max-height: toRem(165);
  }

  &__option {
    padding: toRem(15) toRem(10) toRem(15) toRem(10);
    transition: background-color 0.2s;

    @media (any-hover: hover), (pointer: fine) {
      &:hover {
        background-color: $colorBlue;
      }
    }

    &.selected {
      background: $colorLightBlue;
    }
  }

  .placeholder {
    color: $colorDarkGrey;
  }
}

.button {
  display: flex;
  align-items: center;
  gap: toRem(8);
  padding: toRem(10) toRem(16) toRem(10) toRem(16);
  border-radius: 4px;
  border: 1px solid $colorBlue;
  font-weight: 700;
  width: fit-content;
  max-height: toRem(56);

  &--btn {
    background-color: $bgBlue;
    color: $colorWhite;
    transition:
      border-color 0.3s,
      opacity 0.3s;

    @media (any-hover: hover), (pointer: fine) {
      &:hover {
        border-color: $colorDarkBlue;
        opacity: 0.9;
      }
    }
  }

  // .button--outline

  &--outline {
    color: $colorBlue;
    transition:
      border-color 0.3s,
      color 0.3s;
    // width: fit-content;

    @media (any-hover: hover), (pointer: fine) {
      &:hover {
        background-color: $colorBlue;
        color: $colorWhite;
      }
    }
  }

  // .button--icon
  &--icon {
    background-color: $bgBlue;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(56);
    padding: toRem(18) toRem(18) toRem(18) toRem(18);
    transition: background-color 0.3s;

    &:disabled {
      background-color: $bgLightGrey;
      pointer-events: none;
      cursor: default;
    }

    @media (any-hover: hover), (pointer: fine) {
      &:hover {
        border-color: $colorDarkBlue;
        opacity: 0.7;
      }
    }
  }

  span {
    flex-grow: 0;
  }
}

// button--link

.button--link {
  width: 100%;
  align-items: center;
  justify-content: center;

  @media (min-width: 60em) {
    width: fit-content;
  }
}

// *---- embla ----* //

.embla__arrow-left svg {
  rotate: 180deg;
}

.embla__arrow-right {
}

//* ----- title ------- *//

// .title-block

.title-block {
  display: flex;
  flex-direction: column;
  gap: toRem(16);

  @media (min-width: 47em) {
    max-width: toRem(588);
  }
  // .title-block__title

  &__title {
    font-size: toRem(28);
    font-weight: 700;
    line-height: 1.2;

    @media (min-width: 47em) {
      font-size: toRem(33.2);
    }

    @media (min-width: 65em) {
      font-size: toRem(41);
    }
  }

  // .title-block__description

  &__description {
    font-size: toRem(16);

    @media (min-width: 47em) {
      font-size: toRem(17);
    }
  }
}

//*----- Modal ----------*//

.modal {
  max-height: 100svh;
  max-width: toRem(600);
  padding: toRem(40) toRem(20);
  position: relative;
  opacity: 0;
  transform: translateY(-30px);
  transition:
    opacity 300ms ease,
    transform 300ms ease;

  // .modal--open
  &--open {
    opacity: 1;
    transform: translateY(0);
  }

  // .modal--close

  &--close {
    opacity: 0;
    transform: translateY(-30px);
  }

  // .modal__wrapper

  &__wrapper {
    position: relative;
  }

  // .modal__button

  &__button {
  }

  // .modal-button

  .modal-button {
  }

  // .modal__content

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(25);
  }
}

.product-modal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: toRem(24);
  }
}

.modal-overlay {
  opacity: 0;
  transition: opacity 300ms ease;

  &--open {
    opacity: 1;
  }

  &--close {
    opacity: 0;
  }
}

.modal-close-fixed {
  position: fixed;
  top: -1%;
  right: toRem(10);
  z-index: 10000000;

  @media (min-width: 47em) {
    top: 3.5%;
    right: toRem(20);
  }

  &.button--icon {
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;

    @media (min-width: 47em) {
      background-color: $colorWhite;
      border-radius: 4px;
    }
  }
}

//*---modal-close-fixed--position---*//

.modal-close-fixed--position {
  top: 0;
  right: 0;
  z-index: 99999;
}

//*----- bread crumbs --------*//

.bread-crumbs {
  padding: toRem(24) 0 toRem(16) 0;
  // .bread-crumbs__container

  &__container {
  }

  // .bread-crumbs__link

  &__link {
    display: flex;
    gap: toRem(8);
    align-items: center;
    transform: opacity 0.3s;

    @media (any-hover: hover), (pointer: fine) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

//*---- MAP -----*//
//.map

.map {
  height: toRem(340);
}

//*-------.link--outline-------*//

.link--outline {
  align-self: center;
}
